/*----- Common ------*/
/* html, body{ */
	/* height:100%; */
/* } */

body{
	padding:0;
	margin:0;
	font-family: 'Proxima Nova Rg';
}
:root {
  	--primary-color: #ca008f;
    --secondary-color: #2ba4d7;
}
.primary_color{
	color:var(--primary-color) !important;
}
.secondary-color{
	color:var(--secondary-color) !important;
}
.bg-light {
	background:#f9f9f9 !important;
}
h1, h2, h3, h4, h5, h6, p , ul{
	padding:0;
	margin:0;
}
a, a:hover{
	text-decoration:none;
}
ul{
	list-style:none;
}
strong, b{
	font-weight:600;
}
button:focus, .form-control:focus, button.btn:focus {
    outline: unset;
    box-shadow: none;
}
.custom-btn {
  border-radius: 50px;
  background: var(--primary-color);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.custom-btn:hover{
	color:#fff;
}
.custom-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.custom-btn span a {
    color: #fff;
}
.custom-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.custom-btn:hover span {
  padding-right: 25px;
}
.custom-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.container {
    max-width: 1920px;
    padding: 0 40px;
}
.section-padding{
	padding:80px 0;
}
.section-titile {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.section-titile h1 {
    margin-bottom: 20px;
    font-size: 40px;
	font-weight:600;
}
.section-titile p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* new loader css start */
.cb-transition-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
	background-color: #112a4a;
	transition:all .5s ease-out;
}
.cb-st-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2100;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.cb-st-loader1 {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.cb-st-loader .cb-bumblebee-loader, .cb-st-loader1 {
    position: relative;
}

.cb-st-loader .cb-bumblebee-loader .cb-bumblebee-letter {
    position: absolute;
    top: 36%;
    left: 0;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 900;
    line-height: 0;
    z-index: 100;
    -webkit-animation: edgtfBumblebee2 2s ease infinite;
    -moz-animation: edgtfBumblebee2 2s ease infinite;
    animation: edgtfBumblebee2 2s ease infinite;
}
.cb-st-loader .cb-bumblebee-loader .cb-bumblebee-loader-square {
    height: 160px;
    width: 180px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 3px 4px 5px 0 rgba(0,0,0,.1);
    -webkit-animation: cbBumblebee1 2s cubic-bezier(.86,-.53,0,.87) infinite;
    -moz-animation: cbBumblebee1 2s cubic-bezier(.86,-.53,0,.87) infinite;
    animation: cbBumblebee1 2s cubic-bezier(.86,-.53,0,.87) infinite;
    font-size: 26px;
}

@keyframes cbBumblebee2 {
    0%, 45%, 60% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    10%, 100%, 80% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
    25% {
        -webkit-transform: translate3d(0,-3px,0) scale(.9);
        -moz-transform: translate3d(0,-3px,0) scale(.9);
        transform: translate3d(0,-3px,0) scale(.9);
        opacity: 0;
    }
}

@keyframes cbBumblebee1 {
    0%, 100%, 70% {
        -webkit-transform: translate3d(0,0,0) rotate(0);
        -moz-transform: translate3d(0,0,0) rotate(0);
        transform: translate3d(0,0,0) rotate(0);
    }
    30% {
        -webkit-transform: translate3d(0,12px,0) rotate(0) scale(1.3);
        -moz-transform: translate3d(0,12px,0) rotate(0) scale(1.3);
        transform: translate3d(0,12px,0) rotate(0) scale(1.3);
    }
    35% {
        -webkit-transform: translate3d(0,12px,0) rotate(180deg) scale(1.5);
        -moz-transform: translate3d(0,12px,0) rotate(180deg) scale(1.5);
        transform: translate3d(0,12px,0) rotate(180deg) scale(1.5);
    }
    50% {
        -webkit-transform: translate3d(0,12px,0) rotate(0);
        -moz-transform: translate3d(0,12px,0) rotate(0);
        transform: translate3d(0,12px,0) rotate(0);
    }
    80% {
        -webkit-transform: translate3d(0,-10px,0) rotate(0);
        -moz-transform: translate3d(0,-10px,0) rotate(0);
        transform: translate3d(0,-10px,0) rotate(0);
    }
}


/* new loader css end */
/*----- Logo Header -----*/
.logo-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
}
.custom-search-bar .form-control {
    padding: 0 16px;
    border: 1px solid #ddd;
    width: 400px;
    height: 48px;
    border-radius: 50px;
}
.custom-search-bar {
    position: relative;
}
.custom-search-bar .search-icon {
    position: absolute;
    top: 8px;
    right: 14px;
}
.header-btn a{
	color:var(--primary-color);
}
.custom-mega-menu {
    width: 100%;
    border: none;
    -webkit-box-shadow: inset 0 0 0 1px #eaeaea,0 5px 20px rgba(0,0,0,.15)!important;
    box-shadow: inset 0 0 0 1px #eaeaea,0 5px 20px rgba(0,0,0,.15)!important;
	padding:20px;
	opacity: 0;
    visibility: hidden;
    transition: all .4s;
	display: inherit;
}
.custom-mega-menu.dropdown-menu.show {
    display: inherit;
    opacity: 1;
    visibility: visible;
}
.mega-menu-link {
    border-top: 1px solid #ddd;
    flex-flow: wrap;
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    width: 100%;
}
.mega-menu-title {
    font-size: 24px;
    margin-bottom: 8px;
    color: #282828;
}
.custom-mega-menu p{
	font-size:18px;
	color:#999;
}
.custom-mega-menu p.menuimg-bottom-text {
    font-size: 18px;
    color: #999;
    font-weight: 600;
    line-height: 1.3;
}
.custom-mega-menu .dropdownmenu-img img{
	height: 220px;
    object-fit: cover;
}
.mega-menu-link .dropdown-item {
    padding: 0 0 10px;
    flex: 0 0 50%;
}
.custom-menu .nav-link {
    position: relative;
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
}
.custom-menu .nav-link:hover{
	color:var(--primary-color);
}
.custom-menu .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    top: 14px;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    background: 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    right: -10px;
}
.custom-menu  .dropdown.show .dropdown-toggle::after {
    top: 20px;
    border: 2px solid #000;
    border-bottom: none;
    border-left: none;
}
.custom-menu {
    border-top: 1px solid #eee;
    padding: 12px 0;
}

/*----- Banner -----*/
.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	height:500px;
}
.carousel-fade .carousel-item:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
}
.carousel-indicators>li {
    display:none;
}
.carousel-control-next, .carousel-control-prev {
	width:10%;
	top: 86%;
}
.carousel-control-prev {
    left: auto;
    right: 65px;
}
.carousel-control-prev span, .carousel-control-next span {
    background: rgba(202,0,143,0.5);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    transition: all .4s;
}
.carousel-caption {
    right: 0;
    bottom: 0px;
    left: 0;
    color: #fff;
    text-align: left;
    width: 100%;
	top: 44%;
    transform: translateY(-50%);
}

.banner-text {
	width:100%;
	max-width:600px;
}
.carousel-caption h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 15px;
}
.carousel-caption h2 {
    font-size: 36px;
}
.carousel-caption p {
	font-size:18px;
}
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}
@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: var(--main-color);
    }
}

/*----- We Care -----*/
.care-img {
    position: relative;
    padding-left: 50px;
    padding-top: 30px;
    display: block;
}
.care-img img{
	position:relative;
	z-index:2;
}
.care-img:before {
    position: absolute;
    content: "";
    border: 2px dashed var(--primary-color);
    bottom: 20px;
    right: 20px;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.care-text h5{
    line-height: 1.4;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
}
.care-text p {
    text-align: justify;
}

/*----- Quality Section -----*/
span.quality_e {
    font-size: 50px;
    color: var(--primary-color);
}
 .nav.nav-tabs.nav-fill{
    border: none;
    color:#fff;
    background:var(--primary-color);
    border-radius:0;
}
.nav-fill .nav-item.nav-link{
    border: none;
    padding: 20px 10px;
    color:#fff;
    background:var(--secondary-color);
    border-radius:0;
	position: relative;
	font-size: 30px;
    font-weight: 600;
}
.nav-fill .nav-item.nav-link::first-letter{
	font-size:40px;
}
.nav-fill .nav-item.nav-link.active:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    border: 15px solid transparent;
    border-top-color: var(--primary-color);
    transform: translateX(-50%);
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
}
.tab-content>.tab-pane {
    padding: 50px 40px 40px;
}
.tab-content>.tab-pane h4{
	font-size:24px;
	margin-bottom:20px;
	color:var(--primary-color);
}
.nav-item.nav-link:hover, .nav-item.nav-link:focus, .nav-item.nav-link.active{
    border: none;
    background:var(--primary-color);
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

/*----- Our Division -----*/
.our-divisioin-wrapper {
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.our-divisioin-wrapper:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
}

.divsions-block {
    position: relative;
    z-index: 1;
    border-radius: 10px;
	margin-top:30px;
	overflow:hidden;
}

.divsions-block:hover img {
    transform: scale(1.05);
}

.divsions-block:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    left: 0;
    border-radius: 10px;
}

.divsions-block img {
    border-radius: 10px;
    height: 280px;
    object-fit: cover;
	transition: .4s all;
}

.divsions-block h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 1;
    color: #fff;
    width: 100%;
    text-align: center;
}

/*----- Contact Us -----*/
.contact-info .contact-info-detail {
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
    padding-bottom: 16px;
    display: inline-block;
    width:100%;
}
.contact-info-detail .contact-icon {
    width: 40px;
    float: left;
    margin-top: 8px;
}
.contact-info-detail .contact-detail {
    width: calc(100% - 40px);
    float: left;
}
.contact-info .contact-info-detail h4 {
    font-size: 20px;
	line-height: 2;
}
.contact-info .contact-info-detail h3 {
    font-size: 18px;
    line-height: 2;
}
.contact-info .contact-info-detail .contact-icon  i{
    margin-right: 15px;
    color: var(--primary-color);
	font-size: 24px;
}
.contact-info .contact-info-detail p {
    font-size: 14px;
    color: #676767;
    margin-bottom: 5px;
}
.contact-form h1 {
    font-size: 40px;
}
.contact-form .form-control {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    height: 52px;
    padding: 8px 20px;
    font-size: 16px;
	margin-bottom:30px;
}
.contact-form .form-control:focus {
    background: transparent;
}
.contact-form textarea.form-control{
    height:auto;
}

/*----- Footer -----*/
.footer-custom {
	background:var(--secondary-color);
	padding:50px 0px 0px;
}
.footer-social li{
	float:left;
	margin:0 7px;
}
.footer-social li a i{
    border-radius: 50%;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    color: #fff;
	font-size:20px;
	transition:all .4s;
	border:1px solid #fff;
}
.footer-social li a i:hover{
	background:var(--primary-color);
	border-color:var(--primary-color);
}
.footer-menu {
    margin: 50px 0;
}
.footer-menu li{
	margin:0 16px;
}
.footer-menu .list-inline {
    text-align: center;
}

.footer-menu li a{
    color: #fff;
	font-size:16px;
	font-weight:500;
}
.copyright {
    border-top: 1px solid #999;
    padding: 30px 0;
	background-color: var(--primary-color);
}
.copyright p {
    font-size: 14px;
    text-align: center;
    color: #fff;
}

/*----- Contact-us -----*/
.banner-outer{
	background-image:url(../images/division-bg.jpg);
	background-position:top;
	background-size:cover;
	background-repeat:no-repeat;
	width:100%;
	position:relative;
}
.banner-outer::after{
	content:"";
	background-color:rgba(0,0,0,0.50);
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
	z-index:0;
}
.banner-content{
	width:100%;
	margin:0 auto;
	max-width:540px;
	position:relative;
	z-index:1;
	padding: 100px 0px;
}
.banner-content .custom-breadcrumb {
    background-color:transparent;
}
.banner-content h1 {
    color: #fff;
    font-weight: 600;
	font-size:40px;
}
.banner-content a, .banner-content span {
    font-size: 16px;
	color: #fff;
}
.banner-content .custom-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    font-size: 20px;
	margin: 0px 10px;
}

/*----- Product-portfolio -----*/
.product-portfolio-outer {
    background: transparent;
    padding: 0;
    border: none !important;
}
.accordion .product-portfolio-outer .card-header {
    position: relative;
    padding: 0;
    background: #fff;
    padding: 16px 24px 16px;
    border: none;
    margin-bottom: 20px;
    border-radius: 6px;
}

.accordion .product-portfolio-outer .card-body {
    margin-top: -22px;
    background: #fff;
    padding: 0px 24px 24px;
    position: relative;
    z-index: 1;
	margin-bottom:20px;
}

.portfolio-detail-content {
    padding-top: 14px;
    border-top: 1px solid #ddd;
}


.product-portfolio-outer .accordion_icon {
    background:var(--primary-color);
    height: 25px;
    width: 25px;
    position: absolute;
    right: 40px;
    top: 16px;
    border-radius: 50%;
}

.product-portfolio-outer .card-header .accordion_icon:after{
	display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    top: 9px;
    right: 8px;
    border: 2px solid #fff;
    border-bottom: none;
    border-left: none;
    background: 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.product-portfolio-outer .card-header .accordion_icon.collapsed:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
	top:6px;
}

.portfolio-heading h4{
	font-size: 24px;
    font-weight: 600;
}

/*----- Events -----*/
.event-content h1 {
    font-size:30px;
	font-weight:600;
	margin-bottom: 15px;
}
.event-content h6 {
    font-size: 18px;
    font-weight: 600;
    color:var(--primary-color);
    position: relative;
    left: 0;
    padding-left: 40px;
}
.event-content i {
    margin-right: 15px;
    font-size: 20px;
    color: var(--secondary-color);
    position: absolute;
    left: 0;
}
.event-content p {
    font-size: 16px;
}

/*----- team -----*/
.caregivers-team-outer{
	padding:80px 0px 40px;
}
.caregivers-team-outer .tab-content {
	border: none;
}
.caregivers-team-outer .tab-content>.tab-pane {
    padding: 50px 0px 0px;
}
.caregivers-team-block{
	margin-bottom:50px;
}
.caregivers-team-block:hover img{
	box-shadow: 0px 15px 35px 0px rgba(13, 29, 13, 0.2);
	transition:all 0.4s;
	cursor:pointer;
}
.caregivers-team-block .caregivers-team-detail h2 {
    font-size: 30px;
    font-weight: 600;
	cursor:pointer;
}
.caregivers-team-block .caregivers-team-detail p {
    font-size: 20px;
    font-weight: 600;
	transition:0.4s all;
}
.caregivers-team-block:hover p{
	color:var(--primary-color);
	cursor:pointer;
}
.caregivers-team-block .caregivers-team-detail i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
	border:1px solid #a7a2a2;
    border-radius: 50px;
    margin: 0px 10px;
	color:var(--secondary-color);
	transition:all 0.4s;
}
.caregivers-team-block .caregivers-team-detail i:hover{
	background-color:var(--primary-color);
	border:1px solid var(--primary-color);
	color:#fff;
	cursor:pointer;
}

 /*----- team1 -----*/
.caregive-team1 .event-content h1{
	color:var(--primary-color);
}
.caregive-team1-content {
    border: 1px solid #eee;
	margin-bottom: 30px;
	height: 96%;
}
.caregive-team1 .event-img img{
	height: 300px;
    object-fit: cover;
}
.caregive-team1 .event-content{
	padding:20px;
}

/*----- about-our-company -----*/
.company-wrapper .company-title h1 {
    margin-bottom: 10px;
    font-size: 30px;
}
.company-wrapper .section-titile{
	max-width:780px;
}
.company-wrapper .company-title{
	max-width:100%;
}
.company-wrapper .care-text h5{
	margin-bottom: 10px;
}
.company-wrapper .care-text p{
   margin-bottom: 10px;
}
.company-wrapper .company-content {
    border: 1px solid #ddd;
    padding: 20px;
    height: 100%;
}

/*----- Gallrey-page -----*/
.main_tab {
  width: 100%;
  display: inline-block;
}
.tab_btn {
    margin: 0;
    width: 100%;
    padding: 0px;
    text-align: center;
    display: flex;
	margin-bottom: 20px
}
.tab_btn li {
  width:100%;
  list-style: none;
}
.tab_btn li a {
    color: #fff;
    display: block;
    outline: none;
    padding: 15px 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    background-color: var(--secondary-color);
    font-size: 30px;
    font-weight: 600;
	position:relative;
}
.active_tab_btn a:after{
	content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    border: 15px solid transparent;
    border-top-color: var(--primary-color);
    transform: translateX(-50%);
}
.active_tab_btn a {
    background: var(--primary-color)!important;
    color:#fff !important;
}
.tab_btn li a:hover {
    background: var(--primary-color)!important;
}
.tab_item {
    display: none;
    padding: 20px 0;
}
.tab_item img {
    width: 100%;
    margin-bottom: 30px;
    height: 200px;
    object-fit: cover;
}
.tab_item:first-child {
    display: block;
}

/*----- Media-Page -----*/
.media-box{
	box-shadow: 0 3px 10px rgba(0,0,0,.4);
	margin-bottom:30px;	
	position:relative;
}
.media-box .icon-img{
	position:absolute;
	transform: translate(-50%, -50%);
	top:45%;
	left:50%;
	z-index:1;
}
.media-box .media-vedio::after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.40);
	z-index:0;
	transition:all 0.4s;
}
.media-box .media-vedio{
	position:relative;
}
.media-box .media-title h2 {
    padding: 10px;
	font-size: 30px;
}
.media-box:hover .media-vedio::after{
	opacity:0;
}
 
 /*----- Media Query -----*/
@media (max-width:1200px){
	.nav-fill .nav-item.nav-link {
		font-size: 24px;
	}
	.custom-menu .nav-link {
		margin-left: 12px;
		margin-right: 12px;
	}
	.caregivers-team-block .caregivers-team-detail i {
    height: 45px;
    width: 45px;
    line-height: 45px;
    margin: 0px 8px;
}
}

@media (min-width:767px) and (max-width: 991px){
	.contact-info {
		display: flex;
		margin-bottom: 30px;
		justify-content: space-between;
	}
}
   
@media (max-width:991px){
	.container {
		padding: 0 20px;
	}
	.custom-menu .container {
		padding: 0 20px;
	}
	.care-text h5{
		font-size:16px;
	}
	.logo-bar {
		justify-content: center;
	}
	.custom-mega-menu {
		display: none;
	}
	.custom-mega-menu.dropdown-menu.show {
		box-shadow: none !important;
		padding: 0;
		border-bottom: 1px solid #ddd;
	}
	.custom-menu .dropdown-toggle::after{
		right:14px;
	}
	.mega-menu-link {
		padding-top: 0px;
		margin-top: 10px;
		border: none;
		padding-left: 26px;
		padding-right: 10px;
	}
	.nav-fill .nav-item.nav-link {
		font-size: 20px;
	}
	
	.divsions-block h4 {
		font-size: 24px;
	}
	.company-wrapper .company-title h1 {
		margin-bottom: 5px;
		margin-top:10px;
	}
	
	/*----- Mobile Toggle -----*/
	.custom-menu .nav-link {
		padding-left: 20px;
		padding-right: 12px;
		font-size: 16px;
		border-bottom: 1px solid #ddd;
		margin: 0;
	}

	.collapse:not(.show) {
		display:block;
		left: -100%;
	}
	.navbar-collapse {
        position:fixed;
        top: 0;
        left: 0px;
        background: #fff;
        transition: .4s;
        height:100%;
        z-index: 12;
        width: 280px;
		transition:all 0.5s;
		overflow-y:auto;
		border-right: 1px solid #ddd;
    }
	
	.overlay {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 20;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        top: 0;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    .bodyactive {
        position: relative;
        overflow: hidden;
    }

    .close-btn {
        font-size: 30px;
        color: #000;
        line-height: 50px;
		margin-top: 9px;
    }
	.mega-menu-link .dropdown-item {
		padding: 0 0 10px;
		flex: 0 0 100%;
		font-size: 15px;
	}
	.menu-logo {
		border-bottom: 1px solid #ddd;
		padding: 20px 20px;
	}
	
	/*.custom-mega-menu.dropdown-menu {
		margin-bottom: 20px;
		transform: translateX(100%);
		position: absolute;
		top: 9px;
		opacity: 0;
	}
	
	.custom-mega-menu.dropdown-menu.show {
		transform: translateX(0);
	}*/
}

@media (max-width:767px) {
	.cb-st-loader .cb-bumblebee-loader .cb-bumblebee-loader-square {
		height: 80px;
		width: 80px;
	}
	.cb-st-loader .cb-bumblebee-loader .cb-bumblebee-letter img{
		width:60px;
	}
	.header-logo img {
		width: 150px;
	}
	.section-titile h1 {
		font-size: 24px;
		margin-bottom: 10px
	}
	.section-titile p {
		font-size: 16px;
	}
	.section-padding {
		padding: 40px 0;
	}
	.care-img {
    padding-left: 16px;
    padding-top: 16px;
}
	.carousel-caption{
		top:38%;
	}
	.carousel-item{
		height:400px;
	}
	.carousel-caption h2 {
        font-size: 30px;
	}
	.banner-content h1 {
		font-size: 24px;
	}
	.banner-content {
		padding: 50px 0px;
	}
	.tab-content>.tab-pane {
		padding: 30px 20px 20px;
	}
	.nav-fill .nav-item.nav-link {
		font-size: 15px;
	}
	.nav-fill .nav-item.nav-link::first-letter{
		font-size:24px;
	}
	.tab-content>.tab-pane h4 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.contact-info .contact-info-detail h4 {
		font-size: 18px;
	}
	.contact-info .contact-info-detail .contact-icon i {
		font-size: 20px;
	}
	.contact-form .form-control {
		margin-bottom: 15px;
	}
	.contact-info .contact-info-detail {
		margin-bottom: 5px;
		padding-bottom: 5px;
	}
    .Contact-us-wrapper .google-map iframe {
		height: 200%;
	}
	.event-content h1 {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.event-content h6 {
       font-size: 16px;
	}
	.caregivers-team-outer{
		padding:40px 0px 20px;
	}
	.caregivers-team-block {
		margin-bottom: 20px;
	}
	.caregivers-team-block .caregivers-team-detail h2 {
		font-size: 20px;
	}
	.caregivers-team-block .caregivers-team-detail p {
		font-size: 16px;
	}
	.caregivers-team-block .caregivers-team-detail i {
		height: 30px;
		width: 30px;
		line-height: 30px;
		margin: 0px 5px;
		font-size: 16px;
		text-align: center;
	}
	.company-wrapper .company-title h1 {
		font-size: 20px;
		margin-top:10px;
	}
	.company-wrapper .care-text h5 {
		line-height: 1.2;
		font-size: 16px;
	}
	.tab_btn li a {
		font-size: 16px;
	}
	.accordion .product-portfolio-outer .card-header {
		padding: 16px 12px 16px;
	}
    .product-portfolio-outer .portfolio-heading h4{
		font-size:16px;
	}
	.media-box .media-title h2 {
    padding: 10px;
	font-size: 18px;
}
	.footer-social li a i {
		height: 30px;
		width: 30px;
		line-height: 30px;
		font-size: 14px;
	}
	.footer-menu {
		margin: 20px 0;
	}
	.copyright {
		padding: 15px 0;
	}
	.footer-menu li {
		margin: 0 10px;
	}
	.footer-menu li a {
		font-size: 14px;
	}
}

@media (max-width:576px){
	.carousel-control-next, .carousel-control-prev {
        width: 20%;
	}
	.carousel-caption{
		text-align:center;
	}
	.carousel-caption h2 {
		font-size: 22px;
	}
	.carousel-caption p {
		font-size: 16px;
	}
	.mega-menu-link .dropdown-item {
		max-width: 100%;
		flex: 0 0 100%;
	}
	.header-btn a {
		font-size: 14px;
		width: 25px;
		overflow: hidden;
		text-align: center;
	}
	.nav-fill .nav-item.nav-link {
		font-size:15px;
	}
	.nav-fill .nav-item {
		width: 100%;
		margin-bottom: 5px;
	}
	.nav.nav-tabs.nav-fill {
		background:none;
	}
	.nav-fill .nav-item.nav-link.active:after{
		display:none;
	}
	.custom-search-bar .form-control {
		width: 280px;
	}
	.tab_btn {
		flex-wrap: wrap;
	}
	.tab_btn li {
		margin-bottom: 5px;
	}
	.active_tab_btn a:after{
		display:none;
	}
	.tab_item{
		padding:0;
	}
	.caregivers-team-outer .tab-content>.tab-pane {
		padding: 20px 0px 0px;
	}
	.caregive-team1 .event-img img {
		height: 220px;
	}
}